<nav>
    <div class="site-title">
      <a href="/"><h1>Diversity Hires</h1></a>
      <p>Helping Diverse and Talented Job Canidates Find Their Next Job!</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/jobs/post">Post New Job</a></li>
      <li><a href="/login">Login/Register</a></li>
    </ul>
  </nav>