</head>
<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-expand-xlg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse m-2" id="navbarNav">
        <a href="/" class="navbar-brand">
          <h1 class="navbar-brand-text">Diversity Hires</h1>
        </a>
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link active"  href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link active"  href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link active"  href="/jobs">Jobs</a></li>
          <li class="nav-item"><a class="nav-link active"  href="/companies">Companies</a></li>
          <% if (user) { %>
            <li class="nav-item"><a class="nav-link active" href="/jobs/post">Post New Job</a></li>
            <li class="nav-item"><a class="nav-link active" href="/companies/new">Post a New Company</a></li>
            <li class="nav-item"><a class="nav-link active" href="/profiles/<%= user.profile?._id %>">Profile</a></li>
          <% } %>
            <li class="nav-item">
              <% if (user) { %>
                <a class="nav-link active"  href="/auth/logout">Logout</a>
                <% } else { %>
                  <a class="nav-link active"  href="/auth/google">Login with Google</a>
                  <% } %>
                </li>
              </ul>
              <form class="d-flex" method="POST" action="/companies/search">
                <input name="searchContent" id="search-bar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <select class="me-2" name="searchParam" id="">
                  <option value="jobs">Jobs</option>
                  <option value="companies">Companies</option>
                </select>
                <button class="btn btn-success" type="submit">Search</button>
              </form>
    </div>
  </nav>
