<%- include('./partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index-style.css">
<%- include('./partials/nav') %>

<main class="container-fluid justify-content-center">
    <div class="row floating-container">
        <form action="/" method="post">
            <div>
                <input type="text" name="searchQuery" placeholder="Name of Company or Job Title">
                <select name="searchParam" id="">
                    <option value="company">Company</option>
                    <option value="job">Job</option>
                </select>

                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="row floating-container">
        <div class=" mx-4 col-6">
            <img class="img-fluid rounded"src="/images/index/man-1351761_1280.png" alt="A person being interviewed for a job">
        </div>
        <div class="col-5">
            <h5>Diversity Hires is a company looking to help you find you're next career! Let us help you find your next best career! We believe that a diverse work enviorment is the best kind and we aim to help companies find amazing and talented diverse canidiates!</h5>
        </div>
    </div>
</main>

<%- include('./partials/footer') %>