<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %> 
    <div class="content">
      <div class="create-blog content">
        <form>
          <label for="company">Company:</label>
          <input type="text" name="company" required>
          <br>
          <label for="title">Job title:</label>
          <input type="text" id="title" name="title" required>
          <br>
          <label for="number">Number of Positions:</label>
          <input type="number" required>
          <br>
          <label for="snippet">Job Description Snippet:</label>
          <input type="text" id="snippet" name="snippet" required>
          <br>
          <label for="body">Job Description:</label>
          <textarea id="body" name="body" required></textarea>
          <br>
          <label for="link-to-apply">Link to Apply:</label>
          <input type="url" name="link-to-apply" required>
          <br>
          <button>Submit</button>
        </form>
      </div>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>