nav {
    margin-bottom: 50px;
}
#search-bar {
    width: 400px;
}
.navbar-brand-text {
    color: #e5e5c2;
    margin-bottom: -20px;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}