body {
    background-color: rgb(33, 38, 41);
}
main {
    display: flex;
    justify-content: center;
}
.submit-form {
    width: 70vw;
}
.btn-div {
    display: flex;
    justify-content: center;
}
form > h1 {
    color:white;
    text-align: center;
    margin-bottom: 20px;
}
.select-label {
    color: white;
}